<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:name=".AdsManger.MainApplication23rd"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/nsecurityconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoMusicPlayer"
        tools:targetApi="31">


        <meta-data android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <activity
            android:name=".activity.InfoScreen23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.SeeAllTrending23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.TrendingDownload23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.TrendVideoPlayer23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.TrendingVideo23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.PlayMusic23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.FolderVideoList23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.PlayVideo23rdActivity"
            android:configChanges="orientation|screenSize|layoutDirection|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".activity.SearchVideo23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.Settings23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.Musics23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.Videos23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.Folders23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.StartApp23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.Main23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.First23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.Second23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.Third23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.Fourth23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.Fifth23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".dummy.Sixth23rdActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".AdsManger.Splash23rdActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>